#menu{
    background-color: rgba(231, 228, 228, 0.993);
    position: fixed;
    text-align: center;
    width: 95%;
    top: 0px;
    left: 50px;
}
#menu ul{
    padding: 25px;
}
#menu a{
    margin: 35px;
    font-size: 35px;
    text-decoration: none;
    color: black;
    transition: 0.7s;
}
#menu a:hover{
    border: 1px solid black;
    border-radius: 5px ;
    color: red;
    background-color: black;
    padding: 10px;
}